<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.video.dao.UserMapper">

	<!-- <insert id="insert" parameterType="java.util.Map">
		insert into users (id,userName,companyId,roleId)
		values(#{usrID},#{usrName},#{companyId},#{roleId})
	</insert> -->
	
	<update id="updateSys">
	
		update  sys set 
		<trim suffixOverrides=",">
			<if test="video_dir !=null and video_dir !='' ">
				video_dir=#{video_dir},
			</if>
			<if test="server_path !=null and server_path !='' ">
				server_path=#{server_path},
			</if>
			<if test="video_dir !=null and video_dir !='' ">
				poster_path=#{poster_path},
			</if>
		</trim>
	
	
	</update>
	
	<select id="all" resultType="java.util.Map" parameterType="java.util.Map">
		select * from users limit ${cpage},${pagesize}
		<!-- somecondition --> <!-- limit -->
	
	</select>
	
	<select id="one" resultType="java.util.Map" parameterType="java.util.Map">
		select * from users where qq=#{qq}
		
		<trim prefix="and ">
			<if test="pwd !=null and pwd!='' ">
				pwd=#{pwd}
			</if>
		</trim>
		
		<!-- somecondition --> <!-- limit -->
	</select>
	
	<delete id="del" parameterType="java.util.Map">
		delete  from users where qq=#{qq}  <!-- somecondition 条件删除--> 
	</delete>
	
	<insert id="insert" parameterType="java.util.Map" >
		insert into users 
		
		<trim prefix="(" suffix=")" suffixOverrides=",">
			qq,pwd,
			<if test="tel !=null and tel!=''">
			tel,
			</if>
			<if test="name !=null and name!='' ">
			name,
			</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			#{qq},#{pwd},
			<if test="tel !=null and tel!='' ">
			#{tel},
			</if>
			<if test="name !=null and name!=''">
			#{name},
			</if>
		</trim>
		
	</insert>

</mapper>