<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.video.dao.VideoMapper">
 
	<select id="all" resultType="java.util.Map" parameterType="java.util.Map">
		select * from videos limit  ${cpage},${pagesize}
		
		<!-- somecondition --> <!-- limit -->
	
	</select>
	
	<select id="one" resultType="java.util.Map" parameterType="java.util.Map">
		select * from videos where id=#{id}
		
		<!-- <trim prefix="and ">
			<if test="pwd !=null and pwd!='' ">
				pwd=#{pwd}
			</if>
		</trim> -->
		
		<!-- somecondition --> <!-- limit -->
	</select>
	
	<delete id="del" parameterType="java.util.Map">
		delete  from videos where id=#{id}  <!-- somecondition 条件删除--> 
	</delete>
	
	<insert id="insert" parameterType="java.util.Map" >
		insert into videos 
		
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<!-- name,time, -->
			<if test="name !=null and name !=''">
			name,
			</if>
			<if test="time !=null and time !='' ">
			time,
			</if>
			<if test="src !=null and src !='' ">
			src,
			</if>	
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<!-- #{name},#{pwd}, -->
			<if test="name !=null and name !='' ">
			#{name},
			</if>
			<if test="time !=null and time !='' ">
			#{time},
			</if>
			<if test="src !=null and src !='' ">
			#{src},
			</if>
		</trim>
		
	</insert>
	
	<!-- <insert id="insertMany" parameterType="java.util.List">
		<selectKey resultType="String" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into videos 
		
		<trim prefix="(" suffix=")values" suffixOverrides=",">
			name,time,
			<if test="name !=null and name !=''">
			name,
			</if>
			<if test="time !=null and time !='' ">
			time,
			</if>
			<if test="src !=null and src !='' ">
			src,
			</if>	
		</trim>
		<foreach collection="list" item="bill" index="index"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
			#{name},#{pwd},
			<if test="name !=null and name !='' ">
			#{name},
			</if>
			<if test="time !=null and time !='' ">
			#{time},
			</if>
			<if test="src !=null and src !='' ">
			#{src},
			</if>
		</trim>
		</foreach>
	</insert> -->

</mapper>